Repository c-florist/rsvpme, changes with the labels that .github/labeler.yml gives for each.
All labels: docs, db, api, frontend

add workflow
  .github/workflows/labeler.yml
Labels: none

fix: add gh labeler workflow (#5)
  .github/workflows/labeler.yml
Labels: none

update justfile and tsconfig
  justfile
  tsconfig.json
Labels: none

get tilde paths working with vite
  astro.config.ts
  package.json
  pnpm-lock.yaml
Labels: none

add basic user service
  astro.config.ts
  src/api/user/schema.ts
  src/api/user/service.ts
  src/db/index.ts
  src/db/schema/index.ts
Labels: db, api

add additional permission to fix labeler workflow
  .github/workflows/labeler.yml
Labels: none

feat: add basic user service (#6)
  .github/workflows/labeler.yml
  astro.config.ts
  justfile
  package.json
  pnpm-lock.yaml
  src/api/user/schema.ts
  src/api/user/service.ts
  src/db/index.ts
  src/db/schema/index.ts
  tsconfig.json
Labels: db, api

add clerk dep
  package.json
  pnpm-lock.yaml
Labels: none

add clerk keys
  .env.example
  astro.config.ts
Labels: none

add clerk to config
  .env.example
  astro.config.ts
  package.json
  pnpm-lock.yaml
Labels: none

add clerk middleware
  astro.config.ts
  src/middleware.ts
Labels: none

update init cmd
  justfile
  tsconfig.json
Labels: none

add site layout with clerk components
  src/layouts/Layout.astro
  src/layouts/SiteLayout.astro
  src/pages/index.astro
Labels: frontend

rename src/api dir to modules
  src/db/schema/invitee.ts
  src/modules/invitee/schema.ts
  src/modules/user/schema.ts
  src/modules/user/service.ts
  src/pages/index.astro
Labels: db, frontend

add login page and tailwind
  astro.config.ts
  justfile
  package.json
  pnpm-lock.yaml
  src/layouts/SiteLayout.astro
  src/pages/index.astro
  src/pages/login.astro
  src/styles/global.css
Labels: frontend

fix init cmd
  justfile
Labels: none

remove react integration for now
  astro.config.ts
  package.json
  pnpm-lock.yaml
Labels: none

feat: add login flow (#7)
  .env.example
  astro.config.ts
  justfile
  package.json
  pnpm-lock.yaml
  src/db/schema/invitee.ts
  src/layouts/Layout.astro
  src/layouts/SiteLayout.astro
  src/middleware.ts
  src/modules/invitee/schema.ts
  src/modules/user/schema.ts
  src/modules/user/service.ts
  src/pages/index.astro
  src/pages/login.astro
  src/styles/global.css
  tsconfig.json
Labels: db, frontend

chore: Install cva
  package.json
  pnpm-lock.yaml
Labels: none

feat: Adds primitive Button, Input, Anchor, backed by shared design system
  src/components/primitives/Anchor.astro
  src/components/primitives/Button.astro
  src/components/primitives/Input.astro
  src/components/primitives/index.ts
  src/components/primitives/variants.ts
Labels: frontend

feat: Adds `/library` showcase / explainer
  src/pages/index.astro
  src/pages/library.astro
Labels: frontend

remove login page in favour of clerk hosted page for now
  src/pages/index.astro
  src/pages/login.astro
Labels: frontend

protect all routes via middleware
  src/middleware.ts
Labels: none

add experimental sign-up endpoint
  .env.example
  src/modules/user/service.ts
  src/pages/api/users/sign-up.ts
  src/pages/index.astro
  src/pages/login.astro
Labels: frontend

sync clerk user to database on sign up
  .env.example
  src/middleware.ts
  src/modules/user/service.ts
  src/pages/api/users/verify.ts
  src/pages/index.astro
  src/pages/login.astro
  src/pages/sign-in.astro
  src/pages/sign-up.astro
Labels: frontend

refactor for clarity
  src/modules/user/service.ts
  src/pages/api/users/ensure.ts
Labels: frontend

clean up
  .env.example
  src/pages/sign-in.astro
  src/pages/sign-up.astro
Labels: frontend

refactor endpoint naming
  src/pages/api/auth.ts
  src/pages/sign-in.astro
  src/pages/sign-up.astro
Labels: frontend

don't need auth calls when using middleware
  src/pages/index.astro
  src/pages/sign-in.astro
  src/pages/sign-up.astro
Labels: frontend

add welcome page
  README.md
  src/pages/sign-in.astro
  src/pages/sign-up.astro
  src/pages/welcome.astro
Labels: docs, frontend

redirect all to /welcome
  src/pages/sign-in.astro
  src/pages/sign-up.astro
Labels: frontend

feat: clerk user created in db (#9)
  .env.example
  README.md
  src/middleware.ts
  src/modules/user/service.ts
  src/pages/api/auth.ts
  src/pages/index.astro
  src/pages/login.astro
  src/pages/sign-in.astro
  src/pages/sign-up.astro
  src/pages/welcome.astro
Labels: docs, frontend

separate base layout and app layout
  src/layouts/AppLayout.astro
  src/layouts/BaseLayout.astro
  src/pages/api/auth.ts
  src/pages/index.astro
  src/pages/sign-in.astro
  src/pages/sign-up.astro
  src/pages/welcome.astro
Labels: frontend

remove welcome page and handle UserService error in api endpoint
  src/modules/user/service.ts
  src/pages/api/auth.ts
  src/pages/sign-in.astro
  src/pages/sign-up.astro
  src/pages/welcome.astro
Labels: frontend

fix app slot
  src/layouts/AppLayout.astro
Labels: frontend

.github/labeler.yml:

docs:
  - changed-files:
      - any-glob-to-any-file: "**/*.md"

db:
  - changed-files:
      - any-glob-to-any-file: "src/db/**"

api:
  - changed-files:
      - any-glob-to-any-file: "src/api/**"

frontend:
  - changed-files:
      - any-glob-to-any-file:
        - "src/components/**"
        - "src/layouts/**"
        - "src/pages/**"
