Repository c-florist/rsvpme, pull requests merged in 2025-07, with the labels that each got.

#15 refactor: remove clerk as auth
  .env.example
  astro.config.ts
  drizzle/0000_add_event_table.sql
  drizzle/0000_add_user_table.sql
  drizzle/0001_add_event_table.sql
  drizzle/0002_add_invitee_table.sql
  drizzle/meta/0000_snapshot.json
  drizzle/meta/0001_snapshot.json
  drizzle/meta/0002_snapshot.json
  drizzle/meta/_journal.json
  package.json
  pnpm-lock.yaml
  src/client/layouts/AppLayout.astro
  src/middleware.ts
  src/pages/api/auth.ts
  src/pages/index.astro
  src/pages/sign-in.astro
  src/pages/sign-up.astro
  src/server/db/schema/event.ts
  src/server/db/schema/index.ts
  src/server/db/schema/invitee.ts
  src/server/db/schema/user.ts
  src/server/services/event/schema.ts
  src/server/services/invitee/schema.ts
  src/server/services/user/schema.ts
  src/server/services/user/service.ts
Labels: db, api, pages, client, server

#19 feat: add daisyui and theme
  README.md
  biome.json
  package.json
  pnpm-lock.yaml
  src/client/layouts/BaseLayout.astro
  src/client/styles/global.css
  src/pages/index.astro
Labels: docs, pages, client

#21 feat: add welcome page
  src/pages/create.astro
  src/pages/index.astro
Labels: pages

#23 refactor: make icons into components and redo brand logo
  public/favicon.svg
  public/logo-16.png
  public/logo-32.png
  public/logo-64.png
  public/logo-96.png
  src/client/components/icons/ArrowLeftIcon.astro
  src/client/components/icons/BrandIcon.astro
  src/client/components/icons/CheckIcon.astro
  src/client/components/icons/HomeIcon.astro
  src/client/components/icons/Icon.astro
  src/client/components/icons/InfoIcon.astro
  src/client/components/icons/PlusIcon.astro
  src/client/components/icons/RefreshIcon.astro
  src/client/components/icons/index.ts
  src/client/layouts/BaseLayout.astro
  src/pages/404.astro
  src/pages/500.astro
  src/pages/create.astro
  src/pages/index.astro
Labels: pages, client

#24 fix: remove old footer
  src/client/layouts/BaseLayout.astro
Labels: pages, client

#25 feat: Add preact, add form components
  astro.config.ts
  package.json
  pnpm-lock.yaml
  src/components/Form.tsx
  tsconfig.json
Labels: pages

#26 feat: Adds create event form to homepage
  README.md
  src/actions/event.ts
  src/actions/index.ts
  src/client/components/Form.tsx
  src/client/components/Welcome.astro
  src/client/styles/global.css
  src/client/views/CreateEventForm.tsx
  src/pages/create.astro
  src/pages/index.astro
  src/server/services/event/schema.ts
Labels: docs, pages, client, server

#30 feat: basic event view page
  .pre-commit-config.yaml
  astro.config.ts
  src/client/views/ViewEvent.tsx
  src/pages/404.astro
  src/pages/event/[ulid].astro
  src/server/services/event/service.ts
Labels: pages, client, server
